html, body, #Background { padding: 0px; margin: 0px; }

body {
    background-color: #011d32;
}

.drag-image { position: relative; }

#debug { position: fixed; float: left; color: #ffffff; z-index: 1000; }
<!--

#screen {
	overflow:hidden;
	width:1645px;
    height: 919px;
    clear:both;
    border:0px solid black;


}

.block {
    background-color: black;
    border: 3px solid blue;
    border-radius: 15px;
    opacity: 0.5;
    margin-top: 1cm;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 20%;
}

.text {
    font-family: Arial, Helvetica, sans-serif;
    opacity: 1.0;
    color: white;
    margin-left: 0.5cm;
    margin-right: 0.5cm;
    margin-top: 0.5cm;
    margin-bottom: 0.5cm;
}
-->
