body {
    background-color: #000000;
}

#debug { position: fixed; float: left; color: #ffffff; z-index: 1000; }
<!--

#screen {
	overflow:hidden;
	width:1645px;
    height: 919px;
    clear:both;
    border:0px solid black;


}

-->