body {
    background-color: #000000;
}

#debug div { float: top-left; color: #ffffff; }
<!--

#screen {
	overflow:hidden;
	width:1645px;
    height: 919px;
    clear:both;
    border:0px solid black;
	
	
}
	
-->